<nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="../../assets/Images/logo.png" alt="" width="100px" height="24" style="border-radius: 5px;" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/home" *ngIf="service.rolematch('ROLE_USER')">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/favourite" *ngIf="service.rolematch('ROLE_USER')">Favourites</a>
                </li>
            </ul>
            <span style="margin-top: 3px;" class="badge badge-warning"> hello ! {{user.username}}</span>&nbsp;
            <button *ngIf="! isLoggedin()" type="button" class="btn btn-secondary" routerLink="">Login</button>&nbsp;
            <button *ngIf="isLoggedin()" type="button" class="btn btn-secondary" (click)="logout()">Logout</button>
        </div>
    </div>
</nav>