.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../../assets/Images/theater.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.box {
    /* border: 2px solid greenyellow; */
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box h1 {
    color: orange;
    border-bottom: 4px solid greenyellow;
    margin-bottom: 30px;
}

.form-box {
    width: 40%;
    height: 70%;
    border: 2px solid white;
    color: whitesmoke;
    padding: 30px;
}